@use '../../scss/variables' as *;

.profile {
  border-left: 1px solid rgba($primary, 0.2);
  &__header {
    padding: 1rem 0rem;

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &-caption {
      &-3 {
        p {
          margin: 0;
        }
      }
    }
  }

  &__posts {
    padding: 1rem 0rem;

    &-post {
      // height: 17rem;
      margin: 0;
      padding: 0.15rem;

      img {
        aspect-ratio: 1 / 1;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
