@use '../../scss/variables' as *;

.postModal {
  .modal-content {
    background-color: $secondary;
    .modal-body {
      .post {
        &__content {
          &-header {
            padding-left: 0.5rem;
            img {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          &-image {
            img {
              width: 100%;
              height: 100%;
              max-height: 70vh;
              object-fit: contain;
            }
          }

          &-icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0.5rem;

            &-left {
              display: flex;
              gap: 0.7rem;
            }

            &-right {
              display: flex;
              gap: 0.7rem;
            }

            i {
              padding: 0.5rem 0rem;
              font-size: 2rem;
              transition: all 0.5s;
              cursor: pointer;

              &:hover {
                scale: 1.2;
              }
            }

            .bxs-heart {
              color: $primary;
            }
          }

          &-likes {
            padding-left: 0.5rem;
          }

          &-caption {
            padding-left: 0.5rem;
            margin-bottom: 0.5rem;

            img {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          &-comment {
            div {
              padding-left: 0.5rem;
              margin-bottom: 0.5rem;

              img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
              }

              i {
                cursor: pointer;
              }
            }
            form {
              position: relative;
              input {
                width: 100%;
                border: 0;
                background-color: transparent;
                padding-left: 0.5rem;
                padding-top: 0.3rem;

                &:focus {
                  outline: none;
                }
              }

              button {
                position: absolute;
                font-weight: 600;
                color: $primary;
                right: 1rem;
                border: 0;
                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }
      button {
        position: absolute;
        right: 1rem;
      }
    }
  }
}

.createPost {
  .modal-content {
    background-color: $secondary;


    .modal-body {
      .image-preview {
        img {
          max-width: 100%;
          max-height: 20rem;
        }
      }

      form {
        .input-upload {
          input[type='file'] {
            display: none;
          }
          label {
            background-color: $primary;
            color: $secondary;
            display: inline-block;
            padding: 6px 12px;
            margin: 0;
            cursor: pointer;
            border-radius: 0.5rem;
          }
        }

        .input-box {
          position: relative;
          width: 100%;
          height: 50px;
          text-align: center;
          border-bottom: 2px solid $primary;
          margin: 30px 0;

          label {
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            font-size: 1em;
            color: $primary;
            font-weight: 500;
            pointer-events: none;
            transition: 0.5s;
          }

          input {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 1em;
            color: $primary;
            font-weight: 600;
            padding: 0 35px 0 5px;

            &:focus ~ label,
            &:valid ~ label {
              top: -5px;
            }
          }

          i {
            position: absolute;
            right: 8px;
            font-size: 1.2em;
            color: $primary;
            line-height: 57px;
          }
        }
      }
    }

  }
}

.updatePost {
  .modal-content {
    background-color: $secondary;

    .modal-body {
      .image-preview {
        img {
          max-width: 100%;
          max-height: 20rem;
        }
      }

      form {
        .input-upload {
          input[type='file'] {
            display: none;
          }
          label {
            background-color: $primary;
            color: $secondary;
            display: inline-block;
            padding: 6px 12px;
            margin: 0;
            cursor: pointer;
            border-radius: 0.5rem;
          }
        }

        .input-box {
          position: relative;
          width: 100%;
          height: 50px;
          text-align: center;
          border-bottom: 2px solid $primary;
          margin: 30px 0;

          label {
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            font-size: 1em;
            color: $primary;
            font-weight: 500;
            pointer-events: none;
            transition: 0.5s;
          }

          input {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 1em;
            color: $primary;
            font-weight: 600;
            padding: 0 35px 0 5px;

            &:focus ~ label,
            &:valid ~ label {
              top: -5px;
            }
          }

          i {
            position: absolute;
            right: 8px;
            font-size: 1.2em;
            color: $primary;
            line-height: 57px;
          }
        }
      }
    }
  }
}
