@use '../../scss/variables' as *;

.navbar {
  &__wrap {
    &_content {
      &-title {
        transition: all 0.5s;

        img {
          width: auto;
          height: 2.1rem;
          padding-left: 0.7rem;
          padding-right: 0.7rem;
        }

        &:hover {
          a {
            span {
              scale: 1.05;
            }

          }
        }
      }

      &-list {
        transition: all 0.5s;
        li {
          transition: all 0.5s;
          border-radius: 0.7rem;

          img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
          }

          i {
            font-size: 30px;
          }

          &:hover {
            scale: 1.05;
            i,
            img,
            span {
              color: $primary;
            }
          }

          &:nth-last-child(1) {
            justify-self: end;
          }
        }
      }
    }
  }
}