@use '../../scss/variables' as *;

.navbar-mobile {
  &__content {
    background-color: $secondary;
    border-top: 1px solid rgba($primary, 0.2);
    // padding-bottom: 1rem;

    i {
      color: $primary;
      font-size: 2rem;
      padding: 0.5rem;
    }
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
      margin-left: 9px;
      margin-right: 9px;
    }
  }
}
