@use '../../scss/variables' as *;

.sidebar {
  margin-left: 1rem;
  
  // border-left: 1px solid rgba($primary, 0.2);
  &__wrap {
    &_content {
      // background-color: $primary;
      border-radius: 15px;
      &-title {
        transition: all 0.5s;

        &:hover {
          a {
            span {
              scale: 1.05;
            }
          }
        }
      }

      &-list {
        li {
          transition: all 0.5s;
          border-radius: 0.7rem;

          img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid $primary;
          }

          button {
            
          }

        }
      }
    }
  }
}