@use '../../scss/variables' as *;

.createPost {
  .modal-content {
    background-color: $secondary;
    .modal-header {
    }

    .modal-body {
      .image-preview {
        img {
          max-width: 100%;
          max-height: 20rem;
        }
      }

      form {
        .input-upload {
          input[type='file'] {
            display: none;
          }
          label {
            background-color: $primary;
            color: $secondary;
            display: inline-block;
            padding: 6px 12px;
            margin: 0;
            cursor: pointer;
            border-radius: 0.5rem;
          }
        }

        .input-box {
          position: relative;
          width: 100%;
          height: 50px;
          text-align: center;
          border-bottom: 2px solid $primary;
          margin: 30px 0;

          label {
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            font-size: 1em;
            color: $primary;
            font-weight: 500;
            pointer-events: none;
            transition: 0.5s;
          }

          input {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 1em;
            color: $primary;
            font-weight: 600;
            padding: 0 35px 0 5px;

            &:focus ~ label,
            &:valid ~ label {
              top: -5px;
            }
          }

          i {
            position: absolute;
            right: 8px;
            font-size: 1.2em;
            color: $primary;
            line-height: 57px;
          }
        }
      }
    }

    .modal-footer {
    }
  }
}
