@use '../../scss/variables' as *;

.postModal {
  .modal-content {
    background-color: $secondary;
    .modal-body {
      .post {
        &__content {
          &-header {
            padding-left: 0.5rem;
            img {
              width: 35px;
              height: 35px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
      
          &-image {
            img {
              width: 100%;
              height: 100%;
              max-height: 70vh;
              object-fit: contain;
            }
          }
      
          &-icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0.5rem;

            &-left {
              display: flex;
              gap: 0.7rem;
            }

            &-right {
              display: flex;
              gap: 0.7rem;
            }
      
            i {
              padding: 0.5rem 0rem;
              font-size: 2rem;
              transition: all 0.5s;
              cursor: pointer;
      
              &:hover {
                scale: 1.2;
              }
            }
      
            .bxs-heart {
              color: $primary;
            }
          }
      
          &-likes {
            padding-left: 0.5rem;
          }
      
          &-caption {
            padding-left: 0.5rem;
            margin-bottom: 0.5rem;
          }
      
          &-comment {
            div {
              padding-left: 0.5rem;
              margin: 0;

              i {
                cursor: pointer;
              }
            }
            form {
              position: relative;
              input {
                width: 100%;
                border: 0;
                background-color: transparent;
                padding-left: 0.5rem;
                padding-top: 0.3rem;
      
                &:focus {
                  outline: none;
                }
              }
      
              button {
                position: absolute;
                font-weight: 600;
                color: $primary;
                right: 1rem;
                border: 0;
                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }
      button {
        position: absolute;
        right: 1rem;
      }
    }
  }
}
