@use '../../scss/variables' as *;

.postModal {
  .modal-content {
    background-color: $secondary;
    .modal-body {
      button {
        position: absolute;
        right: 1rem;
      }
    }
  }
}

.post {
  &__content {
    &-header {
      padding-left: 0.5rem;
      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &-image {
      img {
        width: 100%;
        height: 100%;
        max-height: 70vh;
        object-fit: contain;
      }
    }

    &-icons {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0.7rem;
      padding-left: 0.5rem;

      i {
        padding: 0.5rem 0rem;
        font-size: 2rem;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
          scale: 1.2;
        }
      }
    }

    &-likes {
      padding-left: 0.5rem;
    }

    &-caption {
      padding-left: 0.5rem;
      margin-bottom: 0.5rem;
    }

    &-comment {
      p {
        padding-left: 0.5rem;
        margin: 0;
      }
      form {
        position: relative;
        input {
          width: 100%;
          border: 0;
          background-color: transparent;
          padding-left: 0.5rem;
          padding-top: 0.3rem;

          &:focus {
            outline: none;
          }
        }

        button {
          position: absolute;
          font-weight: 600;
          color: $primary;
          right: 1rem;
          border: 0;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
