@use '../../scss/variables' as *;

.timelinePost {
  &__content {
    &-header {
      padding-left: 0.5rem;
      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &-image {
      position: relative;
      img {
        width: 100%;
        height: 100%;
        max-height: 70vh;
        object-fit: contain;
      }
      i {
        font-size: 5rem;
        scale: 0;
        color: $primary;
        text-shadow: 2px 2px rgba($primary, 0.3);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s;
      }
    }

    &-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.3rem;

      &-left {
        display: flex;
        gap: 0.7rem;
      }

      &-right {
        display: flex;
        gap: 0.7rem;
      }

      i {
        padding: 0.5rem 0rem;
        font-size: 2rem;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
          scale: 1.2;
        }
      }

      .bxs-heart {
        color: $primary;
      }
    }

    &-likes {
      padding-left: 0.5rem;
    }

    &-caption {
      padding-left: 0.5rem;
    }

    &-comment {
      form {
        position: relative;
        input {
          width: 100%;
          border: 0;
          background-color: transparent;
          padding-left: 0.5rem;
          padding-top: 0.3rem;

          &:focus {
            outline: none;
          }
        }

        button {
          position: absolute;
          font-weight: 600;
          color: $primary;
          right: 1rem;
          border: 0;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  &__hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
  }

  &__show {
    opacity: 1;
    filter: blur(0);
  }
}
