@use './scss/animations';
@use './scss/button';
@use './scss/mixins';
@use './scss/typography';
@use './scss/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import '../node_modules/boxicons/css/boxicons.min.css';
@import '../node_modules/glightbox/dist/css/glightbox.min.css';
