@use './scss/button';
@use './scss/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import '../node_modules/boxicons/css/boxicons.min.css';
@import '../node_modules/glightbox/dist/css/glightbox.min.css';

body {
  background-color: $secondary;
}

.homepage {
  background-color: $secondary;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.2rem;
  background-color: $secondary;
}
::-webkit-scrollbar-thumb {
  background-color: rgba($primary, 0.5);
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

// Back To Top Button
#back-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $primary;
  color: $secondary;
  cursor: pointer;
  padding: 0px 7px;
  border-radius: 50%;
  font-size: 30px;

  @include media-breakpoint-down(sm) {
    display: none !important;
  }

  &:hover {
    scale: 1.1;
  }
}